*{
    box-sizing: border-box;
    scroll-behavior:smooth
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.slide-area{
    width: 100%;
    height: 100vh;
}
.fix{
    clear: both;
    overflow: hidden;
}
.section-padding{
    padding:50px 0;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    overflow: hidden;
    height: 100vh;
}
.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.nav-area{
    background:rgba(0, 0, 0, 0.6);
    height: 60px;
    position: absolute;
    width: 100%;
}
.logo{
    margin: 10px 50px;
    height: 60px;
    float: left;
    color:#e74c3c;
    font-size:35px;
    text-transform: uppercase;
}
.position{
    position: fixed;
    background:rgba(0, 0, 0, 0.6);
    z-index: 1;
    width:100%;
    height:60px;
}
.menu-area{
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li{
    display: inline-block;
    margin:0 5px;
}
.menu-area li a{
    text-decoration:none;
    color:#fff;
    padding:5px 10px;
    letter-spacing: 2px;
}
.menu-area li.active a{
    color:#e74c3c;
}
.menu-area li a:hover{
    color:#e74c3c;
}
.welcome-text{
    position: absolute;
    top: 515%;
    text-align: center;
    left: 23%;
}
.welcome-text h2{
    color:#fff;
    font-size:60px;
    margin: 0;
}
.welcome-text p{
    color:#fff;
    font-size:18px;
}
.btn{
    background:#e74c3c;
    border:none;
    color:#fff;
    padding:10px 30px;
    font-size:15px;
    text-transform: uppercase;
    margin-top: 25px;
    border-radius: 25px;
    display:inline-block;
}
.section-header{
    text-align: center;
    margin-bottom: 30px;
}
.section-header h2{
    text-transform: uppercase;
    font-size:35px;
    margin-bottom: 0;
}
.line{
    height: 2px;
    width: 100px;
    background:#000;
    display: inline-block;
}
.section-header p{
    font-size:18px;
    text-transform: uppercase;
    font-weight: bold;
}
.about-left{
    width: 50%;
    float: left;
}
.about-left img{
    width: 100%;
}
.about-right{
    width: 50%;
    float: right;
    padding:30px;
}
.single-portfolio{
    width:31%;
    float: left;
    margin:0 13px;
}
.single-portfolio img{
    width: 100%;
    height: 200px;
}
.single-portfolio .port-text{
    padding:15px;
}
.single-portfolio:hover{
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.37);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.37);
}
.portfolio-section{
    background:#eee;
}


.counter-section{
    background: #333;
}
.single-counter{
    width: 25%;
    float:left;
    text-align:center;
    color:#fff;
}
.single-counter i{
    font-size:30px;
    display:block;
    margin-bottom: 15px;
    color:#e74c3c;
}
.single-counter span{
    font-size:30px;
}
.single-counter p{
    font-size:25px;
}




.single-services{
    width:31%;
    float: left;
    margin:0 13px;
    text-align: center;
    padding:15px;
}
.single-services:hover{
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.37);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.37);
}
.services-icon{
    width: 60px;
    height: 60px;
    display: inline-block;
    background:#e74c3c;
    text-align:center;
    border-radius: 100%;
    padding:15px 0;
}
.services-icon i{
    color:#fff;
    font-size:30px;
}


.contact-section{
    background:#eee;
}
.contact-left{
    float: left;
    width: 50%;
}
.contact-right{
    float: right;
    width: 50%;
    text-align: center;
}
.contact-left input{
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    padding:0 15px;
}
.contact-left textarea{
    width: 100%;
    padding:15px;
}
.address-area i{
    font-size:30px;
    display:block;
    margin:10px 0;
}
.contact-right{
    float: right;
    clear: both;
    margin-top:-336px;
}

#map{
    display: block;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
  }
#map.large{
    height:500px;
}


footer{
    background:#000;
    color:#fff;
    text-align:center;
}
